ansible_host: psa.in.tum.de
ansible_port: 60203

host_name: vmpsateam02-01

network_interfaces:
  enp0s8:
    dhcp: false
    addresses:
      - 192.168.2.1/24
      - 192.168.21.2/24
      - 192.168.32.1/24
      - 192.168.42.1/24
      - 192.168.52.1/24
      - 192.168.62.1/24
      - 192.168.72.1/24
      - 192.168.82.1/24
      - 192.168.92.1/24
      - 192.168.102.1/24
    routes:
      - to: 192.168.1.0/24
        via: 192.168.21.1
      - to: 192.168.3.0/24
        via: 192.168.32.2
      - to: 192.168.4.0/24
        via: 192.168.42.2
      - to: 192.168.5.0/24
        via: 192.168.52.2
      - to: 192.168.6.0/24
        via: 192.168.62.2
      - to: 192.168.7.0/24
        via: 192.168.72.2
      - to: 192.168.8.0/24
        via: 192.168.82.2
      - to: 192.168.9.0/24
        via: 192.168.92.2
      - to: 192.168.10.0/24
        via: 192.168.102.2

  enp0s3:
    dhcp: true

iptables:
  outgoing_explicit_allow:
      - 131.159.0.0/16 # FMI
      - 192.168.2.0/24

      - 192.168.1.0/24
      - 192.168.3.0/24
      - 192.168.4.0/24
      - 192.168.5.0/24
      - 192.168.6.0/24
      - 192.168.7.0/24
      - 192.168.8.0/24
      - 192.168.9.0/24
      - 192.168.10.0/24

      # de.archive.ubuntu.com
      - 141.30.62.23
      - 141.30.62.22
      - 141.30.62.25
      - 141.30.62.26
      - 141.30.62.24

      # security.ubuntu.com
      - 185.125.190.39
      - 91.189.91.83
      - 185.125.190.36
      - 91.189.91.81
      - 91.189.91.82

  forward_explicit_allow:
    # Subnet Team 1
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.1.0/24
    - interface: enp0s8
      source: 192.168.1.0/24
      destination: 192.168.2.0/24
    # Subnet Team 3
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.3.0/24
    - interface: enp0s8
      source: 192.168.3.0/24
      destination: 192.168.2.0/24
    # Subnet Team 4
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.4.0/24
    - interface: enp0s8
      source: 192.168.4.0/24
      destination: 192.168.2.0/24
    # Subnet Team 5
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.5.0/24
    - interface: enp0s8
      source: 192.168.5.0/24
      destination: 192.168.2.0/24
    # Subnet Team 6
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.6.0/24
    - interface: enp0s8
      source: 192.168.6.0/24
      destination: 192.168.2.0/24
    # Subnet Team 7
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.7.0/24
    - interface: enp0s8
      source: 192.168.7.0/24
      destination: 192.168.2.0/24
    # Subnet Team 8
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.8.0/24
    - interface: enp0s8
      source: 192.168.8.0/24
      destination: 192.168.2.0/24
    # Subnet Team 9
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.9.0/24
    - interface: enp0s8
      source: 192.168.9.0/24
      destination: 192.168.2.0/24
    # Subnet Team 10
    - interface: enp0s8
      source: 192.168.2.0/24
      destination: 192.168.10.0/24
    - interface: enp0s8
      source: 192.168.10.0/24
      destination: 192.168.2.0/24


packages: 
  - bind9
  - bind9utils 
  - bind9-doc
  - net-tools
  - nmap
  - traceroute
  - kea-dhcp4-server