ansible_host: psa.in.tum.de
ansible_port: 60203

host_name: vmpsateam02-01

host:
  fqdn: vmpsateam02-01.psa.cit.tum.de
  ip_address: 192.168.2.1

network_interfaces:
  enp0s8:
    name_servers:
      - 192.168.2.1
    dhcp: false
    addresses:
      - 192.168.2.1/24 # early-bird.psa-team02.cit.tum.de
      - 192.168.2.3/24 # bearly-ird.psa-team02.cit.tum.de
      - 192.168.21.2/24
      - 192.168.32.1/24
      - 192.168.42.1/24
      - 192.168.52.1/24
      - 192.168.62.1/24
      - 192.168.72.1/24
      - 192.168.82.1/24
      - 192.168.92.1/24
      - 192.168.102.1/24
    routes:
      - to: 192.168.1.0/24
        via: 192.168.21.1
      - to: 192.168.3.0/24
        via: 192.168.32.2
      - to: 192.168.4.0/24
        via: 192.168.42.2
      - to: 192.168.5.0/24
        via: 192.168.52.2
      - to: 192.168.6.0/24
        via: 192.168.62.2
      - to: 192.168.7.0/24
        via: 192.168.72.2
      - to: 192.168.8.0/24
        via: 192.168.82.2
      - to: 192.168.9.0/24
        via: 192.168.92.2
      - to: 192.168.10.0/24
        via: 192.168.102.2

  enp0s3:
    name_servers:
      - 192.168.2.1
    dhcp: true

bind9:
  listen_address: "0.0.0.0/0"
  forward_zone:
    domain: psa-team02.cit.tum.de
  reverse_zone:
    reversed_address: 2.168.192

postgresql:
  listen_addresses: "127.0.0.1,192.168.2.1" # comma-separated
  databases:
    - name: early_bird
    - name: team02
    - name: wikijs # TODO: remove
    - name: synapse
      template: template0
      encoding: UTF-8
      lc_ctype: C
      lc_collate: C
      owner: synapse_user

  users:
    - name: early_bird_user
      password: 1234 # TODO
      databases:
        - name: early_bird
          source_address: 127.0.0.1/32
          privileges: ALL
    - name: team02_user
      password: 1234 # TODO
      databases:
        - name: team02
          source_address: 192.168.2.2/32
          privileges: ALL
    - name: wikijs # TODO: remove
      password: 1234
      databases:
        - name: wikijs
          source_address: 0.0.0.0/0
          privileges: ALL
    - name: synapse_user
      password: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        32303239383638313333336139393637373564656165353437343633643065353965303164366133
        3437653064653366306234633033343530393831366138320a336135386664313033623030306465
        33656336653466353131323162653864373262343163633133656331313461393664363765383466
        6332313033303335380a336233316665386633353037623533363663306362366339383636616165
        3737
      databases:
        - name: synapse
          source_address: 192.168.1.0/24
          privileges: ALL

raid:
  devices: "/dev/sd[b-h]"
  devices_count: "7"
  level: "5"
  device: "/dev/md0"
  mountpoint: "/mnt/raid"
  allowed_addresses:
    - 192.168.1.0/24
    - 192.168.2.0/24
    - 192.168.3.0/24
    - 192.168.4.0/24
    - 192.168.5.0/24
    - 192.168.6.0/24
    - 192.168.7.0/24
    - 192.168.8.0/24
    - 192.168.9.0/24
    - 192.168.10.0/24

mounts:
  - to: /var/lib
    from: /mnt/raid/vmpsateam02-01/var/lib
  - to: /var/www
    from: /mnt/raid/vmpsateam02-01/var/www
  - to: /home.bak
    from: /mnt/raid/vmpsateam02-01/home.bak

