- hosts: vmpsateam02
  remote_user: root
  tasks:
    - name: update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
      check_mode: no
      tags: always

- name: initial vm setup
  hosts: vmpsateam02
  remote_user: root
  roles:
    - hostname
    - users
    - sshd
    - tools
    - disable-services
    - netplan
    - iptables
    - http-proxy
    - samba-client 

- name: router setup
  hosts: vmpsateam02-01
  remote_user: root
  roles:
    - ip-forwarding
    - dns
    - dhcp
    - postgresql
    - raid
    - samba
    - ldap
    - ldap-csv-users
    - mail

- name: additional setup
  hosts: vmpsateam02
  remote_user: root
  roles:
    - logrotate
    - nginx
    - fcgiwrap
    - docker
    - mounts
    - autofs
    - ldap-client

- name: vmpsateam02-02 setup
  hosts: vmpsateam02-02
  remote_user: root
  roles:
    - nullmailer

