- import_tasks: dependencies.yml
  tags:
    - postgresql
    - postgresql-dependencies

- import_tasks: repository.yml
  tags:
    - postgresql
    - postgresql-repository

- import_tasks: install.yml
  tags:
    - postgresql
    - postgresql-install

- import_tasks: systemd.yml
  tags:
    - postgresql
    - postgresql-systemd

- import_tasks: config.yml
  tags:
    - postgresql
    - postgresql-config
  notify: restart postgresql

- import_tasks: users.yml
  tags:
    - postgresql
    - postgresql-users

- import_tasks: databases.yml
  tags:
    - postgresql
    - postgresql-databases

- import_tasks: roles.yml
  tags:
    - postgresql
    - postgresql-roles

